@media print {
    a[href]:after {
        content: none !important;
    }

    .profile-card {
        text-align: center;
    }

    .profile-pic {
        display: inline-block;
        vertical-align: middle;
    }

    .name-and-profession {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }

    .contact-details {
        .detail {
            .make-xs-column(4);
            padding: 10px 0;
        }
    }

    .social-links {
        line-height: 2.5;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;

        .social-block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .url {
            display: inline-block;
            visibility: visible;
        }
    }

    .social-link {
        display: inline-block;
        vertical-align: middle;
    }

    .background-details {
        .detail {
            .icon {
                padding-top: 10px;
            }
        }
    }

    .company-link {
        display: inline;
        visibility: visible;
      }

    .floating-nav, .floating-nav-trigger {
        display: none;
    }

    .pagebreak {
        page-break-before: always;
    }

    .download-btn {
        width: 0;
        height: 0;
        padding: 0;
        visibility: collapse;
        display: none;
    }
}